

#overlay {
    position: relative;
    display: inline-block;
}

#health_and_timer {
    position: absolute; 
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

#player_health {
    position: relative;
    height: 30px;
    width: 100%;
    background-color: red;
}

#player_health_decreasing{
    position: absolute; 
    background-color: green; 
    top: 0; 
    bottom: 0; 
    right: 0; 
    width: 100%;
}

#timer {
    height: 50px;
    width: 100px;
    flex-shrink: 0;
    background-color: rgb(95, 95, 95);
    /* permette di cambiare la disposizione predefinita dei div in una pagina google*/
    display:flex;
    /*centrare un div nello schermo*/
    align-items: center;
    /* contenuto del div centrato al suo interno*/
    justify-content: center;
    border: 4px solid white;
    color: white;
}

#enemy_health {
    height: 30px;
    background-color: rgb(7, 7, 41);
}
#enemy_health_decreasing {
    position: absolute; 
    background-color: blueviolet; 
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 0;
} 

#Tie{
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}